html {
  font-family: 'Roboto', sans-serif;
  color: #474747;
  box-sizing: border-box;
}

body {
  min-width: 1100px;
  background: url("../images/body-wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-color: rgb(0, 0, 0);
}

h1, h2, h3, h4 {
  font-weight: 700;
  color: #333333;
  margin-top: 0;
}

.flex {
  display: flex;
}

.list-default {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  li {
    font-size: 16px;
    margin-bottom: 14px;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0; 
  // height: 100vh;
}